.imagem img {
  width: 30%;
  margin-top: 80px;
  margin-left: 100px;
  opacity: 100%;
}

.texto {
  float: left;
  font-size: 40px;
  margin-top: -450px;
  margin-left: 700px;
  color: rgb(2, 2, 0);
  font-family: "Times New Roman", Times, serif;
}
