.tabela {
  margin: 0 auto;
  border: solid 2px rgb(67, 24, 223);
  margin-top: 110px;
  text-align: center;
  margin-top: 80px;
  margin-left: 340px;
  tr,
  th,
  td {
    border: solid 1px rgb(13, 110, 122);
    margin-top: 80px;
    margin-left: 80px;
  }
  th,
  td {
    padding: 3px 6px;
    text-align: center;
    margin-top: 80px;
    margin-left: 80px;


  }


  .modal {
    position: absolute;

    background-color: black;
    padding: 50px;
    border-bottom: 5px black;

    .cadastro-modal {
      color: rgb(12, 10, 10);
      font-size: 20px;
      text-align: center;
    }
  }

  }
