.header {
 position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: rgb(49, 111, 173);


}

.header img {
  margin: 0 50px;
  height: 80px;

}

p {

  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 22px;
  margin-right: 20px;
  margin-left: 10px;
}

a {
  text-decoration: none;
  padding: 5px 10px;
  color: rgb(26, 6, 51);
  text-decoration: none;
  display: inline-block;


  &:hover {

    color: rgb(98, 85, 116);
}
}

