.campo{
  border-radius: 10px;
  border: 2px rgb(47, 0, 255) solid;
  padding: 10px;
  margin: 5px 5px 20px 12px;
}

.tabela {
  margin: 0 auto;
  border: solid 2px rgb(67, 24, 223);
  text-align: center;
  margin-top: 80px;
  tr,
  th,
  td {
    border: solid 1px rgb(13, 110, 122);
    margin-top: 80px;
    margin-left: 80px;
  }
  th,
  td {
    padding: 3px 6px;
    text-align: center;
    margin-top: 80px;
    margin-left: 80px;

  }

  }
